@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
    <h3>@Model.Message</h3>

    <address>
        Onehunga<br />
        Auckland<br />
        <abbr title="Phone">P:</abbr>
        02108704014
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:jcimafranca@gmail.com">jcimafranca@gmail.com</a>        
    </address>
